:root {
    padding: 0px;
    margin: 0px;

    overflow: hidden;

    /* Palette by Slynyrd: https://lospec.com/palette-list/steam-lords */
    background-color: #1b1b1b;
    color: #a0b9ba;

    font-family: "JetBrains Mono", monospace;

    --selected-tab: rgb(255,0,64);
    --unselected-tab: rgb(122,0,32);
}

body {
    margin: 0;
}

#main {
    height: 100vh;
    display: flex;
    /* overflow: hidden; */
    align-items: center;
    align-content: center;
    justify-content: center;

}

.scroll-selector-box{
    font-size: 5vw;
    display: flex;
    width: 300%;
    overflow-x: hidden;
    flex-direction: row;
    justify-content: center;
}

.scroll-selector {
    font-weight: 700;
    /* font-size: 10rem; */
    /* width: 10rem; */
    height: 1em;
    display: flex;
    flex-direction: row;
    overflow-y: hidden;
    cursor: pointer;
    user-select: none;
}

.scroll-selector-container {
    width: 0.7em;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    
}

.scroll-selector-item {
    /* width: 1rem; */
    line-height: 1.5em;
    text-align: center;
    display: flex;
    flex-direction: column;
    transition-property: transform, color;
    transition-duration: 2s;
    transition-timing-function: cubic-bezier(.47,0,.15,1);
    transform: translateY(0);
}