:root {
    padding: 0px;
    margin: 0px;

    overflow-x: hidden;

    /* Palette by Slynyrd: https://lospec.com/palette-list/steam-lords */
    --bg-color: #1b1b1b;
    background-color: var(--bg-color);
    --text-color: #a0b9ba;
    color: var(--text-color);

    font-family: "JetBrains Mono", monospace;

    --tab-0-selected: #ea323c;
    --tab-1-selected: #5ac54f;
    --tab-2-selected: #00cdf9;
    --tab-3-selected: #ca52c9;
    --tab-0-unselected: #571c27;
    --tab-1-unselected: #134c4c;
    --tab-2-unselected: #00396d;
    --tab-3-unselected: #622461;

}

body {
    margin: 0;
}

ul {
    margin: 0px 0px 1vw 0px;
    padding: 0px 0px 0px 5vw;
}

#main-content {
    width: 100vw;
}

.tab.hidden {
    z-index: 0;
    opacity: 0;
    user-select: none;
    height: 0px;
    overflow-y: hidden;
}

.tab.shown {
    z-index: 1;
    opacity: 100;
    user-select: all;
    /* display: flex; */
}

.tab {
    width: 84vw;
    /* border: #ea323c; */
    overflow-x: visible;
    /* border-left: 2px dashed black; */
    /* height: 100px; */
    transition: opacity 1s cubic-bezier(.75,0,.25,1), display 1s cubic-bezier(.75,0,.25,1);
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: start;
    padding: 0vh 8vw;
    position: absolute;
}

.text {
    color: var(--text-color);
    text-decoration: none;
    border-left: 2px transparent;
    padding-left: 1vw;
    transition: color 250ms cubic-bezier(.75,0,.25,1);
    user-select: none;
}

.text-important {
    color: var(--tab-0-selected);
    text-decoration: none;
    border-left: 2px transparent;
    padding-left: 1vw;
    transition: color 250ms cubic-bezier(.75,0,.25,1);
    user-select: none;
}

.about-tab b {
    color: var(--tab-0-selected)
}

.skills-tab b {
    color: var(--tab-1-selected)
}

.links-text {
    font-size: 4vw; 
    width: 100%;
}

.links-text:nth-child(even) {
    text-align: right;
}

.text:hover {
    /* border-left: 2px solid var(--text-color); */
    color: white;
}

h1, p {
    margin: 0px;
}

p.text>a {
    transition: color 250ms cubic-bezier(.75,0,.25,1);
    color: var(--tab-3-unselected);
    text-decoration: none;
}

p.text>a:hover {
    color: var(--tab-3-selected)
}

.portfolio-card {
    margin: 0vw 0vw 3vw 0vw;
    border-radius: 2vw;
    width: 84vw;
    height: 40vw;
    position: relative;
}

.portfolio-card > a {
    width: 100%;
    height: 100%;
    display: flex;
}

.portfolio-card > a > img {
    border-radius: 2vw;
    width: 100%;
    transition: filter ease-out 500ms;
    filter: blur(5px) brightness(60%);
    object-fit: cover;
}

.portfolio-card > a > img:hover {
    filter: blur(0px) brightness(100%);
}

.portfolio-name {
    position: absolute;
    left: 1.5vw;
    top: 1.5vw;
    font-size: 3vw;
    pointer-events: none;
}

.portfolio-description {
    position: absolute;
    left: 1.5vw;
    bottom: 1vw;
    font-size: 2vw;
    pointer-events: none;
}

.portfolio-text {
    text-shadow: 0px 0px 6px var(--bg-color), 0px 0px 3px var(--bg-color), 0px 2px 1px var(--bg-color);
    mix-blend-mode: difference;
}