:root {
    padding: 0px;
    margin: 0px;

    overflow: hidden;

    /* Palette by Slynyrd: https://lospec.com/palette-list/steam-lords */
    background-color: #1b1b1b;
    color: #a0b9ba;

    font-family: "JetBrains Mono", monospace;

    --tab-0-selected: #ea323c;
    --tab-1-selected: #5ac54f;
    --tab-2-selected: #00cdf9;
    --tab-3-selected: #ca52c9;
    --tab-0-unselected: #571c27;
    --tab-1-unselected: #134c4c;
    --tab-2-unselected: #00396d;
    --tab-3-unselected: #622461;

}

body {
    margin: 0;
}

.hidden {
    opacity: 0;
}

.shown {
    opacity: 100;
}

.tab {
    width: 100%;
    /* height: 100px; */
    transition: opacity 1s cubic-bezier(.31,.9,.65,.98);
    display: flex;
    justify-content: center;
    position: absolute;
}